In [7]:
import pandas as pd
import numpy as np
from isoweek import Week

In [13]:
# import data from CSV File
df_14_day_notification = pd.read_csv('./data/14-day notification_COVID19_data.csv')

In [ ]:
def conter_yw_to_date(year_week):
    return Week(2020, 10).monday()

In [36]:
df_14_day_notification

,country,country_code,continent,population,indicator,weekly_count,year_week,rate_14_day,cumulative_count,source
0,Afghanistan,AFG,Asia,38928341,cases,0,2020-01,NaN,0,Epidemic intelligence national data
1,Afghanistan,AFG,Asia,38928341,cases,0,2020-02,0.000000,0,Epidemic intelligence national data
2,Afghanistan,AFG,Asia,38928341,cases,0,2020-03,0.000000,0,Epidemic intelligence national data
3,Afghanistan,AFG,Asia,38928341,cases,0,2020-04,0.000000,0,Epidemic intelligence national data
4,Afghanistan,AFG,Asia,38928341,cases,0,2020-05,0.000000,0,Epidemic intelligence national data
...,...,...,...,...,...,...,...,...,...,...
40797,Zimbabwe,ZWE,Africa,14862927,deaths,9,2021-43,1.345630,4678,Epidemic intelligence national data
40798,Zimbabwe,ZWE,Africa,14862927,deaths,7,2021-44,1.076504,4685,Epidemic intelligence national data
40799,Zimbabwe,ZWE,Africa,14862927,deaths,12,2021-45,1.278348,4697,Epidemic intelligence national data
40800,Zimbabwe,ZWE,Africa,14862927,deaths,2,2021-46,0.941941,4699,Epidemic intelligence national data
40801,Zimbabwe,ZWE,Africa,14862927,deaths,6,2021-47,0.538252,4705,Epidemic intelligence national data

In [41]:
# get some usefull information about data
df_14_day_notification.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40802 entries, 0 to 40801
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           40802 non-null  object
 1   country_code      39602 non-null  object
 2   continent         40802 non-null  object
 3   population        40802 non-null  int64
 4   indicator         40802 non-null  object
 5   weekly_count      40802 non-null  int64
 6   year_week         40802 non-null  object
 7   rate_14_day       40354 non-null  float64
 8   cumulative_count  40802 non-null  int64
 9   source            40802 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 3.1+ MB

In [43]:
df_14_day_notification.shape

(40802, 10)

In [44]:
# get null data
df_14_day_notification.isnull().sum()

country                0
country_code        1200
continent              0
population             0
indicator              0
weekly_count           0
year_week              0
rate_14_day          448
cumulative_count       0
source                 0
dtype: int64

In [45]:
# clear null data
df_14_day_notification.dropna(inplace=True)

In [46]:
df_14_day_notification.shape

(39166, 10)

In [49]:
# test the data again
df_14_day_notification.isnull().sum()

country             0
country_code        0
continent           0
population          0
indicator           0
weekly_count        0
year_week           0
rate_14_day         0
cumulative_count    0
source              0
dtype: int64